page-login {
    .login_backround{
        background: #808080;
        ion-item{
            border-radius:30px;
            border:1px solid #000;
            margin-bottom: 10px;
        }
        .gambar{
            margin-bottom:15px;
            width:100%;
            height:50%;
        }
    }

    

}
